.message {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 1em;
  background: lightgoldenrodyellow;
  color: darkgoldenrod;
  border-radius: 0.5em;
  border: solid 1px goldenrod;
  z-index: 100000;
}
